<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>index</title>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>

    <script>
        function queryUser() {
            debugger

//            var username = $('#username').val()
//            var password = $('#password').val()
            debugger
            var username = sessionStorage.getItem("username")
            var json_data={
                "username":username
            }
            debugger
            $.ajax( {
                url: "checkQueryPerm",
                data:JSON.stringify(json_data),
                type: "post",
                dataType: "json",
                contentType : "application/json;charset=utf-8",
                async:false,
                success: function (data) {
                    alert("success")
                    //跳转至查询页面
                    debugger
//                    window.open("userList.html",)
                    window.location.href="userList"
                },
                error: function () {
                    alert("error");
                }
            })

        }
        function addUser() {

        }
        function delUser() {

        }
        function updateUser() {

        }
        function testBtn() {
            debugger
            var username = sessionStorage.getItem("username")
            var json_data={
                "username":username
            }
            debugger
            $.ajax( {
                url: "permCheckTest",
                data:JSON.stringify(json_data),
                type: "post",
                dataType: "json",
                contentType : "application/json;charset=utf-8",
                async:false,
                success: function (data) {
                    alert("success")
                    debugger
                    window.location.href="userList"
                },
                error: function () {
                    alert("error");
//                    window.location.href="403.html"
                }
            })



        }
    </script>
</head>
<body>

<h1>this is index.html</h1>

<button onclick="queryUser()">查询</button>
<button onclick="addUser()">新增</button>
<button onclick="delUser()">删除</button>
<button onclick="updateUser()">修改</button>
<button onclick="testBtn()">test</button>

</body>
</html>